@import "colors";
@import "typography";
@import "card";

//MEDIA QUERIES VARIABLES
$mobile: 375px;
$desktop: 1440px;

//Media queries
// @media screen and (min-width: $mobile) and (max-width: $desktop) {
//css code
body {
  font-family: "Outfit", sans-serif;
  background-color: $main-bg-dark-blue;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
// }
main {
  width: 1440px;
  height: 900px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border: 0.5rem solid black;
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
