@import "colors";
@import "typography";
@import "card";

//MEDIA QUERIES VARIABLES
$mobile-width: 375px;
$desktop-width: 1440px;

//Media queries
// @media screen and (min-width: $mobile) and (max-width: $desktop) {
//css code
body {
  font-family: "Outfit", sans-serif;
  background-color: $main-bg-dark-blue;
  font-size: 18px;

  padding: 0;
}
// }
main {
  width: $mobile-width;
  height: 100vh;
  margin: auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media (min-width: 875px) {
  main {
    width: $desktop-width;
    height: 100vh;
  }
}
