@import "colors";
@import "typography";

.card {
  max-width: 350px;
  padding: 24px;
  background-color: $card-bg-dark-blue;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  &__hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    .cube {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
    .eye {
      opacity: 0;
      position: absolute;
      border-radius: 8px;
      transition: 0.3s opacity ease;
    }
    &::before {
      content: "";
      opacity: 0;
      background-color: $cyan;
      border-radius: 8px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: 0.3s opacity ease;
    }
    &:hover {
      .eye {
        opacity: 1;
      }
      &::before {
        opacity: 0.5;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__title {
      font-weight: 300;
      font-size: 22px;
      color: $white;
      letter-spacing: 0;
      cursor: pointer;
      &:hover {
        color: $cyan;
      }
    }
    &__sub-title {
      color: $soft-blue;

      margin-bottom: 8px;
    }
    &__nft-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      .nft-info__price,
      .nft-info__time-left {
        display: flex;
        justify-content: space-between;
        gap: 7px;
        align-items: center;
      }
      .nft-info__price {
        p {
          font-size: 15px;
          color: $cyan;
          font-weight: 600;
        }
      }
      .nft-info__time-left {
        p {
          font-size: 15px;
          color: $soft-blue;
          font-weight: 600;
        }
      }
    }
    &__divider {
      height: 1px;
      background-color: $line-dark-blue;
    }
    &__creator {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      margin-bottom: 4px;
      img {
        width: 33px;
        border: 1px solid $white;
        border-radius: 50%;
      }
      p {
        font-size: 15px;
        color: $soft-blue;
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            color: $cyan;
          }
        }
      }
    }
  }
}
